.banner1{
	text-align:center;
	width: 100%;
    height: 250px;
    /*height: 40%;*/
    display: block;
    background: url(/images/banner/wd2_banner.png)no-repeat ;
	padding:5em 0;
}
.banner2{
	text-align:center;
	width: 100%;
    height: 250px;
    /*height: 40%;*/
    display: block;
    background: url(/images/banner/marvel_capcom.jpg);
	padding:5em 0;
}
.banner3{
	text-align:center;
	width: 100%;
    height: 250px;
    /*height: 100%;*/
    display: block;
    background: url(/images/banner/cod_ww2.jpg);
	padding:5em 0;
}

.banner4{
	text-align:center;
	width: 100%;
    height: 250px;
    /*height: 100%;*/
    display: block;
    background: url(/images/banner/hzd.jpg);
	padding:5em 0;
}
