.btn-rec{
	border-radius: 0;
}

.ul_bullet{
	list-style: none;
}

.dr{
	color: black;
}

.link_decor{
	text-decoration: none;
}

.rb{
	border-right: 1px solid;
}

.lb{
	border-left: 1px solid;
}

.nb{
	border-style: hidden;
	margin-left: 20px;
}
.ddown_text_color{
	color: blue;
}
